@import "tailwindcss";

:root {
  --primary-color: #F43F5E;
  --secondary-color: #F59E0B;
}


.react-international-phone-input-container {
  width: 100% !important;
  height: 44px !important;
  background: #111111 !important;
  border-radius: 22px !important;
  overflow: visible !important;
}


/* Main input */
.react-international-phone-input {
  background: #111111 !important;
  color: white !important;
  width: 100% !important;
  height: 44px !important;
  border: none !important;
  outline: none !important;
  border-radius: 0 22px 22px 0 !important;
  padding-left: 10px !important;
 
}



/* Flag section */
.react-international-phone-country-selector {
  height: 44px !important;
  background: #111111 !important;
  border: none !important;
  border-radius: 22px 0 0 22px !important;
}


.react-international-phone-country-selector-button {
  height: 44px !important;
  width: 48px !important;
  background: #111111 !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 22px 0 0 22px !important;
}


/* Dropdown */
.react-international-phone-dropdown {
  position: absolute !important;
  z-index: 9999 !important;
  background: #111111 !important;
  color: white !important;
  border-radius: 12px !important;
  overflow: hidden !important;
}

.react-international-phone-input-container input {
  background: #111111 !important;
  color: white !important;
}

.react-international-phone-input-container input::placeholder {
  color: #888788 !important;
  opacity: 1 !important;
}

@font-face{

  font-family: gadugi;
  src:url("./assets/fonts/gadugi-grass.ttf")
}

@theme{
--font-gadugi: gadugi, "san-serif";
}


@theme {

  --animate-scroll: scroll 30s linear infinite;

}

/* your phone input styles stay unchanged... */

/* font */


/* animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.group:hover .animate-scroll {
  animation-play-state: paused;
}