*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face{

  font-family: gadugi;
  src:url("./assets/fonts/gadugi-normal.ttf")
}

@theme{
--font-gadugi: gadugi, "san-serif";
}

@import "tailwindcss";

@import "tailwindcss";


@keyframes scroll {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(50%);
  }

}


.animate-scroll {

  animation: scroll 15s linear infinite;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
}
